.pile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.card {
    height: 150px;
    width: 100px;
}

.card-box{
    padding: 10px;
}

@media screen and (max-width: 768px){
    .pile {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}